/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 400
Semi-bold: 600
Bold: 700

- Line heights
Default: 1


- Letter spacing


--- 02 COLORS

- Primary:
- Tints:


- Shades: 

- Accents:
- Greys

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --primary-color: #0652dd;
  --primary-color-light-10: #eef3fd;
  --primary-color-light-20: #e6eefc;
  --primary-color-light-30: #cddcf8;
  --primary-color-light-40: #cddcf898;
  --primary-color-dark-10: #010816;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background-color: var(--primary-color-light-20);
  font-weight: 400;
  color: var(--primary-color-dark-10);
}
.link:is(:link, :visited) {
  text-decoration: none;
  color: var(--primary-color-dark-10);
  transition: all 0.3s;
}
.link:is(:hover, :active, :focus) {
  color: var(--primary-color);
}
.container {
  margin: 0 auto;
  max-width: 144rem;
  width: 90%;
  padding: 1rem;
}
.heading-primary {
  font-size: 12.8rem;
  font-weight: 700;
}
.heading-secondary {
  font-size: 1.6rem;
  margin-bottom: 4.8rem;
}
.heading-tertiary {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}
.heading-secondary,
.heading-tertiary {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.btn {
  border: none;
  /* display: none; */
  background-color: var(--primary-color-dark-10);
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.btn-icon {
  color: #fff;
  font-size: 4.4rem;
}

.btn:active {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--primary-color-light-40);
}

/* ------------------------------------HEADER SECTION------------------------------------ */
.header {
  display: flex;
  align-items: center;
  padding: 2.4rem 3.2rem;
  justify-content: space-between;
}

.header-logo {
  font-size: 3.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  font-size: 1.6rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
/* ------------------------------------SOCIAL MEDIA ICON SECTION------------------------------------ */
/* .socials {
  position: absolute;
  top: 40%;
  margin-left: -4rem;
  left: 2rem;
  transform: translateY(-50%);
}
.social-list {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  list-style: none;
}
.social-icon {
  width: 12px;
  height: 12px;
}

.section-hero.container {
  position: relative;
} */
/* ------------------------------------HERO SECTION------------------------------------ */

.heading-primary.name {
  margin-top: 0.2rem;
  margin-bottom: 8rem;
}

.hero-text {
  font-weight: 300;
  font-size: 2rem;
}

.section-hero {
  position: relative;
  min-height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 9.6rem;
}

.hero-text-box {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* gap: 3.2rem; */
  align-items: center;
  justify-content: center;
}

.next-page:link,
.next-page:visited {
  text-decoration: none;
  position: absolute;
  bottom: 4.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.next-page-icon {
  width: 3.2rem;
  height: 3.2rem;
}
/* ------------------------------------ABOUT SECTION------------------------------------ */
.section-about {
  padding: 9.6rem 0;
}
.about-text-box {
  max-width: 80rem;
}
.about-text {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}
.more-info {
  display: flex;
  justify-content: space-between;
}
.about-year {
  /* margin-right: auto; */
  font-weight: 700;
  font-size: 3.2rem;
}

.skills {
  width: 40rem;
}
.skill-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding-bottom: 1.2rem;
}
.skill-item--80 {
  width: 80%;
}
.skill-item--20 {
  width: 20%;
}

/* ------------------------------------PROJECT SECTION------------------------------------ */
.section-project {
  padding: 9.6rem 0;
}
.project {
  display: flex;

  gap: 2.4rem;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.project-box {
  max-width: 400px;
  min-width: 300px;
}
.project-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  filter: grayscale(1);
  transform: scale(0.95);
  transition: all 0.3s;
}

.project-img:hover {
  transform: scale(1);
  filter: none;
}

.project-text-box {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.project-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}

.project-link:link,
.project-link:visited {
  font-family: inherit;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  align-self: stretch;
  background-color: var(--primary-color);
  color: var(--primary-color-light-10);
  text-decoration: none;
  border-radius: 1rem;
  padding: 1.2rem;
  transition: all 0.3s ease-out;
}
.project-link:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.project-link:active {
  transform: translateY(0);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}
.project-text-header {
  align-self: stretch;
  font-size: 2rem;
}

/* ------------------------------------CONTACT SECTION------------------------------------ */
.section-contact {
  padding: 9.6rem 0 4.8rem;
}
.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-header-box {
  margin: 0 auto 3.2rem;
  text-align: center;
  width: 65%;
}

.contact-heading {
  font-size: 9.8rem;
  font-weight: 700;
}

.contact-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  width: 75%;
  border-bottom: 0.1px solid var(--primary-color-dark-10);
  padding-bottom: 9.6rem;
}

.contact-mail:link,
.contact-mail:visited {
  padding-bottom: 1rem;
  border-bottom: 1px solid currentColor;
  text-decoration: none;
  line-height: 1.5;
  color: inherit;
  font-weight: 300;
  font-size: 3.6rem;
  transition: all 0.3s;
}

.contact-mail:hover,
.contact-mail:active {
  color: var(--primary-color);
}
.contact-social-link:link,
.contact-social-link:visited,
.contact-phone:link,
.contact-phone:visited {
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.contact-social-link:hover,
.contact-social-link:active,
.contact-phone:hover,
.contact-phone:active {
  color: var(--primary-color);
}

.contact-social {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  /* justify-content: center; */
}
.contact-dot {
  fill: var(--primary-color-dark-10);
  stroke: var(--primary-color-dark-10);
  width: 1.2rem;
  height: 1.2rem;
}
/* .contact-social-link:link,
.contact-social-link:visited {
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  color: inherit;
} */

/* ------------------------------------FOOTER------------------------------------ */
.footer {
  margin: 0 auto;
  max-width: 120rem;
  padding-bottom: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* ------------------------------------sticky------------------------------------ */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-color-light-20);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*? secondary buttons by cssbuttons.io*/
.project-link-btn {
  border: none;
  background: none;
}

.project-link-btn span {
  padding-bottom: 0.7rem;
  letter-spacing: 0.4rem;
  font-size: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase;
}

.project-link-btn svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.project-link-btn:hover svg {
  transform: translateX(0);
}

.project-link-btn:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--primary-color-dark-10);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color-dark-10);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-link-btn:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn--social {
  position: relative;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 0.2rem 0.8rem rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn--social::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn--social span,
.btn--social span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn--social span {
  transition-delay: 0.05s;
}

.btn--social span:first-child {
  padding-right: 0.7rem;
}

.btn--social span span {
  margin-left: 0.8rem;
  transition-delay: 0.1s;
}

.btn--social ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
  height: 100%;
}

.btn--social ul li {
  flex: 1;
  height: 100%;
}

.btn--social ul li a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 1.61, 0.355, 1);
}

.btn--social ul li a:hover {
  opacity: 0.5;
}

.btn--social:hover::before {
  transform: scale(1.2);
}

.btn--social:hover span,
.btn--social:focus span {
  transform: translateY(-5.5rem);
}

.btn--social:is(:hover, :focus) .btn--social__link {
  transform: translateY(0);
}

.btn--social:hover ul li:nth-child(1) a,
.btn--social:focus ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn--social:hover ul li:nth-child(2) a,
.btn--social:focus ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn--social:hover ul li:nth-child(3) a,
.btn--social:focus ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.btn-icon--social {
  font-size: 2.4rem;
  color: var(--primary-color-light-10);
}

.btn--social__link:focus {
  outline: none;
  display: none;
}

/* ------------------------------------btn toggle------------------------------------ */

.btn--toggle {
  z-index: 10;
  width: 30px;
  height: 20px;

  /* display: flex; */
  flex-direction: column;
  align-items: center;

  justify-content: space-between;

  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  position: relative;
  display: none;
}
.btn--toggle:focus {
  outline: none;
  transform: scale(1.2);
}

.btn--toggle__line {
  width: 100%;
  border-radius: 50px;
  height: 4px;
  background-color: #000;

  transition: all 300ms cubic-bezier(0, 0.99, 0, 1.7);
}
.btn--toggle:hover .btn--toggle__line:nth-child(odd) {
  width: 120%;
}
.btn--toggle:hover .btn--toggle__line:nth-child(even) {
  width: 60%;
}

.btn--toggle.btn--close .btn--toggle__line:nth-child(1) {
  transform: rotate(-45deg) translateY(11px);
}
.btn--toggle.btn--close .btn--toggle__line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.btn--toggle.btn--close .btn--toggle__line:nth-child(3) {
  transform: rotate(45deg) translateY(-11px);
}
